{# src/OC/AdminBundle/Resources/views/Appoinment/add.html.twig #}
{% extends "OCAdminBundle::layout.html.twig" %}

{% block oc_body_content %}
  <div class="container-fluid" style="background-color:red;color:white;">
  <h2>

    Add Appoinment
  </h2>  
</div>
{{include("OCAdminBundle:Appoinment:form.html.twig")}}

<p>
    Attention : ce rendez-vous sera ajouté directement
    sur la page d'accueil après validation du formulaire.
  </p>
{% endblock %}